.reports-container {
  display: flex;
  flex-direction: column;
  height:100%;
}

.reports-list {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: 100%;
  margin: 0;
  padding-right: 5px;
  padding-left: 5px;
  padding-top: 5px;
  border-bottom: 1px solid #f6f6f6
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f6f6f6; 
}

::-webkit-scrollbar-thumb {
  background: #d8d8d8; 
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}