.item {
  display: inline-block;
  width: 229px;
  padding: 1rem 0.5rem 0.5rem 0.5rem;
  margin: 1rem 3rem 1rem 3rem;
  border-radius: 15px;
}

.icon {
  display: inherit;
  color:blue;
  vertical-align: top;
  background-color: aquamarine;
}

.text {
  display: inherit;
  text-align: right;
  font-family: sans-serif;
  font-size: 28px;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  float: right;
}

.title {
  font-weight: bold;
}
.count {
  font-weight: normal;
}