.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 20px;
}

.App header {
  margin: 1% 0 2% 1%;
  font-size: 32px;
  font-weight: 500;
  color: #6c6c6c
}

.main-content {
  height: 60%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.graph header {
  color: #6c6c6c;
  background-color: white;
  padding: 10px 10px 10px 10px;
  font-weight: bold;
  border-radius: inherit;
}

.graph {
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 6px 1px rgba(188, 188, 188, 0.5);
  border-radius: 25px;
  margin: 1%;
  background-color: white;
  flex: 3;
  min-width: 0;
  max-height: 100%;
  min-height: 30vh;
}


.reports {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #6c6c6c;
  box-shadow: 0 0 6px 1px rgba(188, 188, 188, 0.5);
  margin: 1%;
  border-radius: 25px;
  background-color: white;
  flex: 2;
  min-width: 0;
  min-height: 30vh;
  max-height: 100%;
}

.reports header {
  padding: 10px 10px 10px 10px;
  font-weight: bold;
  border-bottom: 1px solid #f6f6f6
}

@media (max-width: 768px) {
  .App {
    height: 60vh;
  }

  .main-content {
    flex: 3;
  }
  .graph {
    flex: 1;
    min-height: 40vh
  }
  .reports {
    flex: 1;
    min-height: 40vh
  }
}

@media (max-width: 600px) {
  .App {
    height: unset;
  }


  .graph {
    min-height: fit-content;
    flex: 2 0 40vh;
  }

  .reports {
    max-height: 95vh;
    flex: 3;
  }

  .main-content {
    flex-direction: column;
    flex: 2;
  }
}