.report {
  display: flex;
  margin: 2%;
  padding: 3%;
}

.avatar {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
  min-width: 30px;
  min-height: 30px;
  width: 30px;
  height: 30px;
  margin-right:5%;
  float: left;
}

.message {
  float: right;
  font-size: smaller;
  overflow-x: hidden;
  overflow-wrap: break-word;
}

.time {
  color: gray;
}